.embedGalleryWrapper {
  width: 100%;
  height: fit-content;
  position: relative;
}

.embedGalleryButtonsWrapper {
  width: 100%;
  height: 2.1rem;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
}

.embedGalleryButton {
  font-family: inherit;
  display: flex;
  height: fit-content;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}

.embedGalleryButton-menue {
  justify-content: center;
  width: 2rem;
  padding: 7px;
}

.embedGalleryButton-logout {
  width: fit-content;
  font-size: 1rem;
}

.embedGalleryButton-disabled {
  cursor: not-allowed;
}

.embedGalleryButton-dropdownMenue {
  width: 100%;
  height: 2.5rem;
  align-items: center;
  padding-left: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .embedGalleryButton:hover {
    background: rgb(233, 233, 233);
  }
}

.embedGalleryDropdownMenueWrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 80px;
}

.embedGalleryDropdownMenue {
  transform-origin: top right;
  width: 220px;
  height: 220px;
  background: rgb(249, 249, 249);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
}

.embedGalleryDropdownMenueLinks {
  list-style: none;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding-top: 30px;
}

.scrollToTop {
  background-color: #918e7eb1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 50px;
  width: 3.5rem;
  height: 3.5rem;
  transform: rotate(90deg);
  position: fixed;
  top: calc(100vh - 130px);
  right: 13px;
  z-index: 10;
  opacity: 0;
  transition: 0.4s;
}

.scrollToTop-visible {
  opacity: 1;
}
