.diashow-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.diashow-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: 1.5s;
}

.diashow-image-visible {
  opacity: 1;
}
