.contact-wrapper {
  width: 100vw;
  min-height: 80vh;
}

.contact-form-wrapper {
  height: auto;
  width: 40%;
  margin: 30px auto;
  position: relative;
}

.contact-form {
  width: 100%;
}

@media (max-width: 768px) {
  .contact-form-wrapper {
    width: 80%;
  }
}
